.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


.link{
  color: aqua;
  font-style: italic;
  text-decoration: none ;
}

.hello-screen{
  width: 400px;
  border: 1px solid white;
  border-radius: 20px;
  position: relative;
}

.welcome{
  font-size: 26px;
}

.elon-dont-sue-me{
  position: relative;
  bottom: 10px;
}


.name-input{
  width: 200px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: rgba(0,0,0,0);
  margin-bottom: 70px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.save-button{
  width: 200px;
  height: 29px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #282c34;
  margin-bottom: 20px;
  position: absolute;
  bottom: 5px;
  left: 100px
}

.save-button:disabled{
  background-color: #aaa8a8;
}

.feed{
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: center;
}

.horizontal-line{
  color: #fff;
  height: -1px;
  background-color: #fff;
  margin-top: -1px;
  position: relative;
}


.post{
  width: 400px;
  border: 1px solid white;
  border-radius: 20px;
  margin: 20px;
  position: relative;
}

.post-author{
  font-size: 28px;
  text-align: left;
  position: relative;
  left: 20px;
  top: -5px;
}

.post-text-input{
  text-align: left;
  width: 360px;
}

.post-text{
  font-size: 20px;
  text-align: left;
  position: relative;
  left: 20px;
}

textarea{
  resize: none;
  background-color: #282c34;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;

}

.post-date{
  text-align: left;
  position: relative;
  left: 20px;
  padding: 5px solid #fff;
}

.post-button{
  width: 100px;
  height: 29px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #282c34;
  margin-bottom: 20px;
  position: absolute;
  bottom: -10px;
  right: 20px
}

.post-button:disabled{
  background-color: #aaa8a8;
}